//- code
- var code = 10;
-
    var n = 0;
    var name = 'my-name';
    var arr = ['a', 'b', 'c'];
    if(true){
        console.log('its true');
    }else{
        console.log('its not true');
    }

//- comments
    // appear to page in 1 line
    //
        appear to page in multiline
    //- unappear to page in 1 line
    //
        unappear to page in multiline

//- condition
if code
    p code is not empty
else if name
    p name is not empty
else
    p everything is empty

//- case
case code
    when 0
        p code is 0
    when 10
        p code is 10
    when 20
        - break
    default
        p code is not match

//- iteration
each val, index in arr
    p= val
else
    p arr is empty

while n < 10
    p= n++
    
